@model Capstone.Models.DonationBasket

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DonationBasket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Organization.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supporter.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supporter.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BasketPending)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BasketPending)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Received)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Received)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BasketId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
