@model Capstone.Models.DonationBasket

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Donation Basket</h2>
<h3>@ViewBag.OrganizationName</h3>
<br/>
@if (Model.BasketPending == false && Model.Received == false)
{
    
}

<table class="table">
    <tr>
        <th><button type="button" class="btn btn-primary btn-sm" onclick="location.href ='@Url.Action("PrintShoppingList", "DonationBasketPrinting", new { id = Model.BasketId })'">
    Print Shopping List
</button>
            Item Name
        </th>
        <th>
            Size
        </th>
        <th>
            Brand
        </th>
        <th>
            Color
        </th>
        <th>
            Quantity
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.ItemsList)
    {
        <tr>
            <td>
                @item.Product.ItemName
            </td>
            <td>
                @item.Product.ItemSize
            </td>
            <td>
                @item.Product.Brand
            </td>
            <td>
                @item.Product.Color
            </td>
            <td>
                @item.Quantity
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "CartItems", new { id = item.Id }, null) |
                @Html.ActionLink("Details", "Details", "CartItems", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "CartItems", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
<hr/>

@if (User.IsInRole("Supporter") && Model.BasketPending == false && Model.Received == false)
{
    <p>Once you have collected all of your donation items and you are ready to ship or drop them off, please let the Nonprofit Organization know to expect them by clicking the button below.</p>
    <p>Your donations cannot be confirmed without this step!</p>
    <button type="button" class="btn btn-warning btn-lg" onclick="location.href = '@Url.Action("MarkPending", "DonationBaskets", new { id = Model.BasketId})'">
        It's On The Way!
    </button>
}

@if (User.IsInRole("Supporter") && Model.BasketPending == true && Model.Received == false)
{
        <button type="button" class="btn btn-primary btn-lg" onclick="location.href ='@Url.Action("PrintPackingSlip", "DonationBasketPrinting", new { id = Model.BasketId })'">
            Print Packing Slip
        </button>
  
}
