@model Capstone.Models.DonationBasket

@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Donation Basket</h2>
<h3>@ViewBag.OrganizationName</h3>

<table class="table">
    <tr>
        <th>
            Item Name
        </th>
        <th>
            Size
        </th>
        <th>
            Brand
        </th>
        <th>
            Color
        </th>
        <th>
            Quantity
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.ItemsList)
    {
        <tr>
            <td>
                @item.Product.ItemName
            </td>
            <td>
                @item.Product.ItemSize
            </td>
            <td>
                @item.Product.Brand
            </td>
            <td>
                @item.Product.Color
            </td>
            <td>
                @item.Quantity
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "CartItems", new { id = item.Id }, null) |
                @Html.ActionLink("Details", "Details", "CartItems", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "CartItems", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>

@if (Model.BasketPending == false && Model.Received == false)
{
    
        @*<a href="@Url.Action("PrintShoppingList", "DonationBasketPrinting", new { id = Model.BasketId })">*@
            <button type="button" class="btn btn-primary btn-lg" onclick="location.href ='@Url.Action("PrintShoppingList", "DonationBasketPrinting", new { id = Model.BasketId })'">
                Print Shopping List
            </button>
        @*</a>*@
        
        
        
    
 }

 @if (Model.BasketPending == true && Model.Received == false)
 {
      <button type="button" class="btn btn-primary btn-lg">
            @Html.ActionLink("Print Packing Slip", "PrintPackingSlip", "DonationBasketPrinting", new { id = Model.BasketId }, null)
      </button>
  }
