@model Capstone.Models.NonprofitOrganization

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NonprofitOrganization</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DropAddress.ContactPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DropAddress.ContactPerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipAddress.ContactPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipAddress.ContactPerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationWebsite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationWebsite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationPhone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrganizationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
