@model Capstone.ViewModels.FinishRegistrationViewModel

@{
    ViewBag.Title = "FinishRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Account Registration</h2>

@using (Html.BeginForm("FinishRegistration", "NonprofitOrganizations", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
<h4>@Model.OrganizationName</h4>
<hr class="mt-4" />


<br />
<h5>Shipping Address</h5>
<h6>Where should your Supporters ship their donations?</h6>
<br />
<div class="form-group">
    @Html.LabelFor(model => model.ShipContact, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-6">
        @Html.EditorFor(model => model.ShipContact, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ShipContact, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.ShipStreetAddress, htmlAttributes: new { @class = "control-label col-md-10" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.ShipStreetAddress, new { htmlAttributes = new { @class = "form-control col-md-7" } })
        @Html.ValidationMessageFor(model => model.ShipStreetAddress, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.ShipCity, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.ShipCity, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ShipCity, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.ShipState, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col">
        @Html.DropDownListFor(model => model.ShipState, Capstone.Utilities.Extensions.GetStatesList(), new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.ShipZipcode, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col">
        @Html.EditorFor(model => model.ShipZipcode, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ShipZipcode, "", new { @class = "text-danger" })
    </div>
</div>

<br />
<hr />
<br />

<h5>Drop-Off Address</h5>
<h6>Some of your Supporters may want to bring their donations to you in person.  Tell them where to find you!</h6>
<br />
<div class="form-group">
    @Html.LabelFor(model => model.DropContact, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-6">
        @Html.EditorFor(model => model.DropContact, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DropContact, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.DropStreetAddress, htmlAttributes: new { @class = "control-label col-md-10" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.DropStreetAddress, new { htmlAttributes = new { @class = "form-control col-md-7" } })
        @Html.ValidationMessageFor(model => model.DropStreetAddress, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.DropCity, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.DropCity, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DropCity, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.DropState, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col">
        @Html.DropDownListFor(model => model.DropState, Capstone.Utilities.Extensions.GetStatesList(), new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.DropZipcode, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col">
        @Html.EditorFor(model => model.DropZipcode, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DropZipcode, "", new { @class = "text-danger" })
    </div>
</div>

<br />
<hr />
<br />

<h5>Almost Done...</h5>
<h6>The following information will be viewable to all users.</h6>
<br />
<div class="form-group">
    @Html.Label("Organization Description")
    <br class="mt-0" />
    <small>Tell everyone who you are and what your mission is.</small>
    @Html.TextAreaFor(model => model.OrganizationDescription, new { @class = "form-control", maxLength = 250, @rows = 5, @style = "width: 1000px" })
    @Html.ValidationMessageFor(model => model.OrganizationDescription, "", new { @class = "text-danger" })

</div>

<div class="row">
    <div class="form-group">
        @Html.LabelFor(model => model.OrganizationWebsite, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.OrganizationWebsite, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OrganizationWebsite, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<br />
<hr />
<br />
@*<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a class="btn btn-primary" href=@Html.ActionLink("Submit", "FinishRegistration", "NonprofitOrganizations", new { nonprofitOrganization = Model }, null) role="button"/>
    </div>
</div>*@


<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Submit" id="Submit" class="btn btn-primary" />
    </div>
</div>
</div>
}
