@model IEnumerable<Capstone.Models.NonprofitOrganization>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nonprofit Organizations</h2>
<hr />
<br/>
    @using (Html.BeginForm())
    {
<div>
    Category: @Html.DropDownList("category", new SelectList(ViewBag.Categories, "CategoryId", "Name"), " ", null)
    Zipcode: @Html.TextBox("searchString")
    <input type="submit" value="Search" class="btn-primary" />
</div>  
}
<br/>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationName)
        </th>
        <th>
            Category
        </th>
        <th>
            Location
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationWebsite)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DropAddress.City), @Html.DisplayFor(modelItem => item.DropAddress.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationWebsite)
            </td>
            <td>
                @Html.ActionLink("Organization Details", "OrganizationProfile", new { organizationId = item.OrganizationId }) |
                @Html.ActionLink("Donation Requests", "Index", "DonationItems", new { organizationId = item.OrganizationId }, null)
            </td>
        </tr>
    }

</table>
