@model Capstone.Models.NonprofitOrganization
@{
    /**/

    ViewBag.Title = "OrgDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>
@if (Model.Active == false)
{
    <div class="jumbotron" style="background-color:lightgoldenrodyellow">
        <h1 class="display-3">Inactive Account</h1>
        <br />
        <p class="lead">Bummer! Your account isn't active yet. Make sure you've submitted your documents and check back frequently!</p>
        <hr class="my-4" />
        <div class="row">
            <div class="col-md-8">
                <p>Need to submit your documents? Send them our way!</p>
                Application Name<br />
                Street address<br />
                city state zip<br />
                Application@email.com
            </div>
            <div class="col-md-4 mt-5">
                <p><a class="col-sm-4 btn-primary btn-lg text-center" href="@Url.Action("Index", "Home")">Back Home</a></p>
            </div>
        </div>
    </div>
}
@if (Model.Active == true && Model.RegistrationCompleted == false)
{
    <div class="jumbotron" style="background-color:lightgoldenrodyellow">
        <h2 class="display-4">Hey! <br />Your account has been activated!</h2>
        <p class="lead">Welcome! We're glad you're here!</p>
        <hr class="my-4">
        <p>Before the real fun can begin, please complete your account registration so Supporters know who you are.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="@Url.Action("FinishRegistration", "NonprofitOrganizations", new { id = Model.OrganizationId })" role="button">Finish Registration</a>
        </p>
    </div>
}
<hr class="mt-4" />
<div class="row justify-content-center">


    <div class="col-md-4">
        <a href="@Url.Action("Create", "DonationItems", new { organizationId = Model.OrganizationId })" >
            <div class="card text-white bg-primary mb-3 align-items-center" style="max-width: 20rem;">
                <div class="card-header text-center">ADD DONATION REQUEST</div>
                <img src="~/Content/Images/icons8-add-new-64.png" width="130" />
            </div>
        </a>

    </div>

    <div class="col-md-4">
        <a href="#">
            <div class="card text-white bg-success mb-3 align-items-center" style="max-width: 20rem;">
                <div class="card-header text-center">PENDING DONATIONS</div>
                <img src="~/Content/Images/icons8-gift-64.png" width="130" />
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a href = "@Url.Action("OrganizationProfile", "NonprofitOrganizations", new { organizationId = Model.OrganizationId})">
            <div class="card text-white bg-primary mb-3 align-items-center" style="max-width: 20rem;">
                <div class="card-header text-center">ORGANIZATION PROFILE HOME</div>
                <img src="~/Content/Images/icons8-home-64.png" width="130" />
            </div>
        </a>
    </div>
</div>

<div class="row justify-content-center">


    <div class="col-md-4">
        <a href="@Url.Action("Index", "DonationItems", new { organizationId = Model.OrganizationId })">
            <div class="card text-white bg-primary mb-3 align-items-center" style="max-width: 20rem;">
                <div class="card-header text-center">Donation Request List</div>
                <img src="~/Content/Images/icons8-bulleted-list-48.png" width="130" />
            </div>
        </a>

    </div>
</div>


    <hr />
    <div>
        <div class="col-md-12">
            <h3>Contact Information</h3>
            <small>
                @Html.ActionLink("Edit", "Edit", new { id = Model.OrganizationId }) |
                @Html.ActionLink("Details", "Details", new { id = Model.OrganizationId })
            </small>
        </div>
        <div class="col-md-12 mt-4">
            <h4>@Model.OrganizationName</h4>

            @String.Format("({0}) {1}-{2}"
                 , Model.OrganizationPhone.Substring(0, 3)
                 , Model.OrganizationPhone.Substring(3, 3)
                 , Model.OrganizationPhone.Substring(6, Model.OrganizationPhone.Length - 6))<br />
            @Html.DisplayFor(m => m.OrganizationWebsite)<br />
            @Html.DisplayFor(m => m.User.Email)
            <br />
            </div>
        </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <h3>Address Book</h3>
            <small>
                @Html.ActionLink("Edit", "Edit", new { id = Model.OrganizationId }) |
                @Html.ActionLink("Details", "Details", new { id = Model.OrganizationId })
            </small>
        </div>
        <div class="col-sm-6 mt-4">
            <h5>Shipping Address:</h5>
            @if (Model.ShippingAddress != null)
            {<p>
                    @Model.ShipAddress.ContactPerson<br />
                    @Model.ShipAddress.StreetAddress<br />
                    @Model.ShipAddress.City, @Model.ShipAddress.State @Model.ShipAddress.Zipcode
                </p>
            }
            @if (Model.ShipAddress == null)
            {
                <p style="color: maroon">No Shipping Address Saved</p>
            }
        </div>
        <div class="col-sm-6 mt-4">
            <h5>Drop-Off Address:</h5>
            @if (Model.DropOffAddress != null)
            {
                <p>
                    @Model.DropAddress.ContactPerson<br />
                    @Model.DropAddress.StreetAddress<br />
                    @Model.DropAddress.City, @Model.DropAddress.State @Model.DropAddress.Zipcode
                </p>
            }
            @if (Model.DropAddress == null)
            {
                <p style="color: maroon">No Drop-Off Address Saved</p>
            }
        </div>
        <br />

    </div>


