@model Capstone.Models.DonationItem

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Donation Item Details</h4>
    <hr />
    <dl class="col-md-6">

        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        @if (Model.ItemQuantity != 0)
        {
            <dt>
                Quantity
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ItemQuantity)
            </dd>
        }


        <dt>
            Category
        </dt>

        <dd>
            @ViewBag.CategoryName
        </dd>

        @if (Model.ItemSize != null)
        {
            <dt>
                Size
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ItemSize)
            </dd>
        }


        @if (Model.ItemDescription != null)
        {
            <dt>
                Description
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ItemDescription)
            </dd>
        }


        @*<dt>
            @Html.DisplayNameFor(model => model.RequestingOrganizationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestingOrganizationId)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.MyProperty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MyProperty)
        </dd>*@

    </dl>
    <dl class="col-md-6">
        @if (Model.ImageFilePath != null)
        {
            @*<dt>
                @Html.DisplayNameFor(model => model.ImageFilePath)
            </dt>*@

            <dd>
                <div class="img-fluid">
                    <img src=@Url.Content(Model.ImageFilePath) style="overflow: hidden; position: relative; width:200px;" />
                </div>
            </dd>
        }
    </dl>

   
</div>
    @if (User.IsInRole("Organization"))
    {
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ItemId }) |
        @Html.ActionLink("Back to List", "Index", new { organizationId = Model.RequestingOrganizationId }) |
        @Html.ActionLink("Add Another Item", "Create", "DonationItems", new { organizationId = Model.RequestingOrganizationId }, null)

    </p>
    }
    @if (!User.IsInRole("Organization"))
    {
        @Html.ActionLink("Back to List", "Index", new { organizationId = Model.RequestingOrganizationId})
    }


