@model Capstone.ViewModels.OrgRequestItemsListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">@Model.OrganizationName</h1>
<hr />
<h6 class="text-center">@Model.OrganizationDescription</h6>
<hr />

@using (Html.BeginForm())
{
<div>
    @Html.Hidden("organizationId", Model.OrganizationId)
    Category: @Html.DropDownList("categoryId", new SelectList(ViewBag.Categories, "CategoryId", "Name"), "All", null)
    <input type="submit" value="Search" class="btn-primary" />
</div>
}

@if (User.IsInRole("Organization"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Size
        </th>
        <th>
            Color
        </th>
        <th>
            Quantity Needed
        </th>
        <th>
            Category
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model.ItemsList)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>

        @if (Model.UserRole == "Organization")
        {
            <td></td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ItemId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ItemId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ItemId })
            </td>
        }
        @if (Model.UserRole == "Supporter")
        {

            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ItemId })
            </td>
            <td>

                @using (Html.BeginForm("Create", "CartItems", new { enctype = "multipart/form-data" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div>
                    @Html.Hidden("donationItemId", item.ItemId)
                    @Html.Hidden("supporterId", Model.SupporterId)
                    Quantity: @Html.DropDownList("quantity", new SelectList(ViewBag.QuantityList, "Text", "Value"), " ", null)
                    @Html.ValidationMessage("quantity", "", new { @class = "text-danger" })
                    <input type="submit" value="Add To Basket" />
                </div>
                }
            </td>
        }


    </tr>
    }

</table>
